*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

form{
    height: 1000px;
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-between;
}

.pop{
    height: 70px;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-between;
}

input{
    all: unset ;
    height: 15px;
    width: 200px;
    padding: 13px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px 0;
}



.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 60px;

    width: 500px;
    margin: 0 auto;
}


button{
    height: 40px;
    width: 200px;
    background-color: rgb(138, 59, 161);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.but{
    background-color: red;
    color: black;
}

label{
    font-size: 16px;
    font-weight: 500;
}

.ll{
    font-size: 14px;
    font-weight: 400;
    color: rgb(98, 98, 98);
}

.invalid{
    border: 2px solid red;
}

.valid{
    border: 2px solid green;
}

.dad{
    position: relative;
}

svg{
    visibility: hidden;
    position: absolute;
}

.dad.in .no{
    visibility: visible;
	position: absolute;
	top: 35px;
	right: -25px;
    fill: red;
}

.dad.v .done{
    visibility: visible;
	position: absolute;
	top: 35px;
	right: -25px;
    fill: green;
}